* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.5px;
    overflow-x: hidden;
  }
  #navbar {
    background: #5e227f;
    position: sticky;
    top: 0;
    height: 110px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    z-index: 1000;
  }
  #navbar a {
    margin: 0 30px;
    padding: 8px;
    text-decoration-line: none;
    font-size: 29px;
    color: #f8b500;
    font-weight: bolder;
  }
  #navbar div,
  .social-media {
    position: relative;
    z-index: 0;
    padding: 5px;
  }
  #navbar div:before,
  .social-media:before {
    content: "";
    transition: 0.3s;
  }
  #navbar div:hover:before,
  .social-media:hover:before {
    position: absolute;
    width: 80%;
    height: 100%;
    top: -1px;
    left: 15px;
    z-index: -1;
    background: #d22780;
    transform: skewX(3deg) skewY(1.5deg);
  }
  #navbar div:nth-child(2):hover:before {
    transform: skewX(-1deg) skewY(-2deg);
  }
  #welcome-section {
    background: #f2f4fb;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #welcome-section h1 {
    margin: 20px;
    font-size: 65px;
    font-weight: bold;
  }
  /*  The typewriting animation is credited to Geoff Graham on
  https://css-tricks.com/   */
  #welcome-section h2 {
    overflow: hidden;
    border-right: 0.15em solid #f8b500;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.15em;
    animation: typing 2s steps(30, end), blink-caret 0.68s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 38%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #f8b500;
    }
  }
  #projects {
    background: #d22780;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  #projects-container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .image-wrapper {
    height: 30vw;
    width: 40vw;
  }
  .project-title img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .project-title {
    margin: 40px;
    background: #bdbdbd;
  }
  .project-title h3 {
    text-align: center;
    background: #bdbdbd;
    height: 90px;
    width: 100%;
    padding: 28px;
    font-size: 22px;
    transition: 0.3s;
  }
  .project-title:hover h3 {
    background: #f2f4fb;
  }
  a {
    text-decoration-line: none;
  }
  @media (max-width: 1210px) {
    .image-wrapper {
      width: 68vw;
      height: 52vw;
    }
    #welcome-section h1 {
      font-size: 1.9em;
    }
    #welcome-section h2 {
      font-size: 1.5em;
    }
  
    #navbar div a {
      font-size: 1.2em;
    }
    #contact-links {
      flex-direction: column;
    }
    #headings h1 {
      font-size: 1em;
      margin-top: 40px;
    }
    #headings h2 {
      font-size: 10px;
    }
    #title {
      max-width: 100vw;
    }
    .project-title h3 {
      font-size: 1em;
      height: 70px;
    }
    .social-media:nth-child(3):hover:before {
      width: 139px;
      left: 13px;
    }
  }
  @media (min-width: 1600px) {
    .image-wrapper {
      height: 20vw;
      width: 25vw;
    }
  }
  #button {
    margin: 50px 0;
  }
  #button div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    background: #bdbdbd;
    width: 230px;
    height: 40px;
    margin: 0 auto;
    transition: 0.6s;
  }
  #button div:hover {
    background: #f8b500;
  }
  #button span {
    color: initial;
    transition: 0.6s;
  }
  #button:hover span {
    color: #5e227f;
  }
  
  #projects > h2 {
    padding: 50px;
    font-size: 30px;
    cursor: default;
    background: #f8b500;
  }
  #title {
    text-align: center;
    background: #f8b500;
    width: 470px;
    margin: auto;
    padding: 18px;
  }
  #contact {
    display: flex;
    min-height: 89vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #f8b500;
    width: 100%;
  }
  #contact div {
    margin: 30px;
  }
  #headings h1 {
    font-size: 25px;
  }
  #headings h2 {
    font-size: 20px;
    margin: 40px;
  }
  #contact-links {
    display: flex;
  }
  .social-media {
    margin: 0 100px;
    font-size: 1.8em;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  .social-media:hover:before {
    width: 138px;
    left: -5px;
  }
  .social-media:first-child:hover:before {
    width: 139px;
    transform: skewX(-2deg) skewY(-2deg);
  }
  .social-media:nth-child(3):hover:before {
    width: 110px;
    transform: skewX(-1deg) skewY(-2deg);
  }
  #portrait img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 4px solid #212121;
  }
  #footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 140px;
    padding: 20px 60px;
    background: #212121;
    color: #f8b500;
    font-size: 1rem;
    font-weight: 600;
  }
  svg {
    height: 40px;
    width: 40px;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .social-media span {
    display: block;
    color: #212121;
  }
  a:visited {
    color: initial;
  }
  #projects a {
    color: inherit;
  }
  @media (max-width: 450px) {
    #navbar {
      font-size: 0.7em;
      height: 140px;
      flex-direction: column;
      justify-content: space-evenly;
    }
    #welcome-section h1 {
      margin-top: 100px;
      font-size: 1.4em;
    }
    #welcome-section h2 {
      font-size: 1.1em;
    }
    #footer {
      font-size: 15px;
    }
  }
  @media (min-width: 700px) {
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 35vw;
      }
    }
  }
  /*Note that this is a desktop first website, some few configurations are needed for mobile viewing */
  